<component name="ArtifactManager">
  <artifact type="exploded-war" name="Spring5:Web exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/Spring5_Web_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Spring5" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="Spring5/web/Web" />
    </root>
  </artifact>
</component>